/build/
/cmake-build-*/
/CMakeLists.txt.user

*.elf
*.bin
*.map

partition-table.bin
partition-table.csv

sdkconfig
sdkconfig.old

/.idea/
/*.iml
/.vscode/

__pycache__/
/*.pyc
/.env/
/.venv/
/env/

.DS_Store
Thumbs.db

/esp-idf/
